.bigger-logo {
    width: 70px !important;
    height: 70px !important;
}

.header .header-top div.left-content ul.logo-container li img {
    max-height: 80px !important;
}

.header-top {
    margin-bottom: 0px !important;
}

.filter-container {
    text-align: left;
    display: flex;
    box-shadow: none;
    position: relative !important;
}

.filter-container.dropdown-list {
    background-color: transparent;
}

#category-filter {
    width: 90% !important;
    margin-top: 0;
    margin-bottom: 0;
    height: 38px;
}

#filter-control {
    width: 200px !important;
    margin-bottom: 0;
}

.footer {
    padding-top: 5px;
    padding-bottom: 5px;
}

.footer-list-container {
    padding-bottom: 5px !important;
    padding-top: 5px !important;
}

#footer-group {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
}

.footer-list {
    width: 49%;
}

.slider1-text {
    font-family: "Noto Sans SC", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 52px;
    color: #EBE1E1;
}

.slider2-text {
    font-family: "Noto Sans SC", sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 34px;
    line-height: 52px;
    color: black;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.click-to{
    width: 100%;
    height: 100%;
}
.info-list {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
    margin-bottom: 5%;
}

.info-item {
    padding-right: 3%;
    padding-left: 3%;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.info-item-text {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 20px;
    line-height: 35px;
    text-align: center;
}

.info-item-image {
    width: 48px;
    height: 48px;
    margin-left: auto;
    margin-right: auto;
}

#challenge-list {
    border-bottom: none;
}

.tabs li.tab a {
    color: #979797;
    border-bottom-color: #979797;
}

.tabs li.is-active a {
    color: black;
    border-bottom-color: black;
}

.sign-up-text a {
    color: black;
}

.pre-footer.text {
    font-family: "Noto Sans SC", sans-serif;
    font-size: 18px;
    line-height: 35px;
    text-align: center;
    color: black;
    width: 85%;
    margin-right: 7.5%;
    margin-left: 7.5%;
}

.paragraph {
    margin-bottom: 10px;
}

.text-section {
    margin-bottom: 3%;
}

#whole-catalog {
    margin-top: 10px;
    font-family: "Noto Sans", sans-serif;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    text-transform: uppercase;
}

